.flexHome {
  display: flex;
  justify-content: center;
}

.homeContainer {
  width: 100%;
  max-width: 1024px;
  min-height: 100vh;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header_container {
  width: 50%;
  min-width: 450px;
  max-height: 100vh;
  position: sticky;
  top: 0;
}

.home_container {
  width: 50%;
  min-width: 450px;
  border: 0px solid white;

  display: flex;
  flex-direction: column;
  gap: 30px;
}
