.flexHome {
  display: flex;
  justify-content: center;

  background: radial-gradient(ellipse at bottom, #57078d5d 0%, transparent 100%),
    radial-gradient(ellipse at top, #0070a45d 0%, transparent 100%);
}

.homeContainer {
  width: 100%;
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header_container {
  width: 50%;
  max-height: 100vh;
  position: sticky;
  top: 0;
}

.home_container {
  width: 50%;
  border: 0px solid white;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
