.flexHeader {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 50px;
}

.profileInfo {
  width: auto;
}

.profileImage {
  background-color: white;
  width: 50%;
  aspect-ratio: 1/1;
  border-radius: 20px;
}
